<h3>Welcome to Tutorpen</h3>
	<p>
	
	Tutorpen is a simple online learning platform. Instructors can offer their services adn students can register for courses which include assignments, quizes and support forums.
	</p>

	<a class="button" href="/users/signup">Sign Up Free</a>
	<p>You need to signup to register for classes</p>